doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Расписание занятий. ДВГГТК
		link(rel='stylesheet', href='css/style.css')
		style.
			.control {
				padding: 0.3em;
			}
	body 
		header.header(style='position: sticky')
			form(name='filter', style='display: flex; flex-wrap: wrap') 
				.control 
					input#date(type='date', name='date')
				.control
					select#group(name='group')
						option(value='') <группа>
				.control
					select#teacher(name='teacher')
						option(value='') <преподаватель>
				.control
					select#room(name='room')
						option(value='') <аудитория>
		main#timetable-container.main(style='position: relative')
			section#timetable(
				style='overflow-y: auto; position: absolute; top: 1ch; left: 1ch; right: 1ch; bottom: 1ch; width: max-content; max-width: calc(100% - 2 * 1ch)'
			)

		footer.footer advirtisement

		script(src='js/index.js') 
