.rasp-table {
	border-collapse: collapse;
	width: 80ch;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	color: #000;
	max-width: 100%;
}

.rasp-table:not(:first-child) {
	margin-top: 1em;
}

.rasp-table-row {
	background-color: white;
}

.rasp-table-caption {
	background-color: lightslategrey; 
	color: white;
}

.rasp-table td {
	border: 1px solid silver;
	padding: 0.2em;
}

.rasp-cell {
	text-align: center;
	background-color: white;
}

.empty {
	background-color: whitesmoke;
}

.center {
	display: inline;
	margin: 0.2em;
}

.left {
	display: block;
	float: left;
}

.right {
	display: block;
	float: right;
}
