*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	box-sizing: border-box;
	height: 100%;
}

img {
	display: block;
	max-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	width: 100%;
}

.header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: beige;
}

.main {
	background-color: lightslategrey;
	width: 100%;
}

.advertising {
	height: 50px;
	width: 100%;
	background-color: lightgreen;
	display: flex;
	place-content: center;
	place-items: center;
}

// input,
// button,
// textarea,
// select {
// 	font: inherit;
// }

// ul[class],
// ol[class] {
// 	padding: 0;
// 	list-style: none;
// }

// body,
// h1,
// h2,
// h3,
// h4,
// p,
// ul[class],
// ol[class],
// li,
// figure,
// figcaption,
// blockquote,
// dl,
// dd {
// 	margin: 0;
// }
