table(border='1', style='border-collapse: collapse; overflow-x: auto')
	thead 
		tr 
			td Ауд.
			each cls in [1,2,3,4,5,6,7,8] 
				td= cls
	tbody 
		each room in rooms
			tr
				td= room
				each classesByNumber in classes.classesByDate[0].classes
					if classesByNumber
						td 
							each cls in classesByNumber.filter((cls) => cls.room === room)
								| #{cls.teacher}
								| #{cls.group}
					else
						td
